<launch>
    <arg name="num_waypoint" value = "1" /> <!-- number of waypoint that car have to visit for each task-->
    <rosparam file="$(find clcbs_ros)/config/4cars.yaml" command="load" ns="clcbs_ros" />
    <rosparam file="$(find clcbs_ros)/config/car_params.yaml" command="load" ns="clcbs_ros" />

    <node pkg="clcbs_ros" type="clcbs_node" name="clcbs_ros" output="screen">
        <param name="num_waypoint" value="$(arg num_waypoint)"/>
    </node>
</launch>
