<launch>
    <arg name="map_server" default="1" />
    <arg name="cars_file" default="cars.yaml" />
    <arg name="benchmark_file" default="ex2.yaml" />
    <rosparam file="$(find clcbs_ros)/config/$(arg cars_file)" command="load" ns="init_clcbs" />
    <rosparam file="$(find mushr_pixelart_mpc)/benchmarks/$(arg benchmark_file)" command="load" ns="init_clcbs" />

    <!-- Launch  map server-->
    <group if="$(arg map_server)">
        <include file="$(find mushr_base)/launch/includes/map_server.launch" />
    </group>

    <!-- <node pkg="rosbag" type="record" name="bag_recorder" output='screen' args="record -o /home/mushr/catkin_ws/src/clcbs_ros/bags/ -e '(.*)' -x '(.*)/camera(.*)'" /> -->
    <node pkg="clcbs_ros" type="init_clcbs.py" name="init_clcbs" output="screen" />
</launch>
